#set eps = $episodes

<%
import itertools

series = itertools.groupby(eps, key = lambda x: x['serie'])
sortFunc = lambda x: (x['season'], x['episodeNumber'])

series = dict([ (name, sorted(list(groupEps), key = sortFunc))
                       for name, groupEps
                       in series ])
%>

<html>
<head>
  <title>cheetah test</title>
</head>

<body>
#for serie, eps in series.items()
  <h1>$serie</h1>
  #for $ep in $eps
    #try
      <div class="episode">$ep.episodeNumber - $ep.title</div>
    #except
      <div class="episode"> ? - $ep.title</div>
    #end try
  #end for
#end for

</body>
</html>