#set allseries = $series

<%
from smewt import SmewtUrl

series = sorted([ { 'title': s.title,
                    'url': SmewtUrl('media', 'series/single', { 'title': s.title }),
                    'poster': s.get('loresImage') } for s in allseries ], key = lambda x: x['title'])

from smewt.base.utils import smewtDirectory
import_dir = smewtDirectory('smewt', 'media', 'series')

%>

<html>
<head>
  <title>All series view</title>
  <link rel="stylesheet" href="file://$(import_dir)/series.css">
</head>

<body>

<div id="wrapper">
	<div id="header">
		ALL SERIES
	</div>
	<div id="container">

		<div id="left-side">
      #for s in series[::2]
        <div class="series">
          <img src="file://$s.poster" />
          <a href='$s.url'>$s.title</a>
        </div>
      #end for
    </div>

    <div id="right-side">
      #for s in series[1::2]
        <div class="series">
          <img src="file://$s.poster" />
          <a href='$s.url'>$s.title</a>
        </div>
      #end for
    </div>

  </div>
</div>

</body>
</html>
