#set movieData = $movie

<%
from collections import defaultdict
from smewt import SmewtUrl, Media
from smewt.media import Movie

seasons = defaultdict(lambda: [])

movie = movieData.findAll(Movie)[0]
movieName = movie['title']
poster = movie['loresImage']

def getAll(prop):
    return ', '.join(movie[prop] or [])

director = getAll('director')
writer = getAll('writer')
genres = getAll('genres')
englishSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': movieName, 'language': 'en' })
frenchSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': movieName, 'language': 'fr' })

playLink = None
files = []
for media in movieData.findAll(Media):
    if media.type() == 'video':
        files.append(media.filename)

nfile = 1
args = {}
for f in sorted(files):
    args['filename%d' % nfile] = f
    nfile += 1

if args:
    playLink = SmewtUrl('action', 'play', args)

import os, os.path
# FIXME: this is not the correct way to do it...
import_dir = os.path.join(os.getcwd(), 'smewt', 'media', 'movie')
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>single movie display</title>
<script type="text/javascript" src="file://$(import_dir)/tabber.js"></script>
<link rel="stylesheet" href="file://$(import_dir)/movies.css" type="text/css">
</head>

<body>

<img src="file://$poster" />

<div class="rightshifted">
  <h1>$movieName</h1>

  <a href="$englishSubsLink">Get missing English subtitles</a>
  <a href="$frenchSubsLink">Get missing French subtitles</a>
#if playLink:
  <a href="$playLink">Play Movie</a>
#end if
</div>

<div class="tabber">
  <div class="tabbertab">
    <h2>Overview</h2>
    <p><b>year:</b> $movie.year</p>
    <p><b>rating:</b> $movie.rating</p>
    <p><b>director:</b> $director</p>
    <p><b>writer:</b> $writer</p>
    <p><b>genres:</b> $genres</p>
    <p><b>plot outline:</b> $movie.plotOutline</p>
    #if $movie.plot:
      <p><b>plot:</b> $movie.plot[0]</p>
      #if len($movie.plot) > 1:
        <p><b>detailed plot:</b> $movie.plot[1]</p>
      #end if
    #end if
  </div>

  <div class="tabbertab">
    <h2>Cast</h2>
    #for person, role in $movie.cast
      <p>$person  ---  $role</p>
    #end for
    <p></p>
  </div>

</div>


</body>
</html>
