#set allmovies = $movies
<%
from smewt import SmewtUrl, Media
from smewt.base.utils import pathToUrl, smewtDirectoryUrl

movies = sorted([ { 'title': m.title,
                    'url': SmewtUrl('media', 'movie/single', { 'title': m.title }),
                    'poster': pathToUrl(m.loresImage) } for m in allmovies ], key = lambda x: x['title'])

import_dir = smewtDirectoryUrl('smewt', 'media', 'movie')
%>

<html>
<head>
  <title>All movies view</title>
  <link rel="stylesheet" href="file://$(import_dir)/movies.css">
</head>

<body>

<div id="wrapper">
    <div id="header">
        ALL MOVIES
    </div>
    <div id="container">

    #if movies
        <div id="left-side">
      #for m in movies[::2]
        <div class="movie">
          <img src="file://$m.poster" />
          <a href='$m.url'>$m.title</a>
        </div>
      #end for
    </div>

    <div id="right-side">
      #for m in movies[1::2]
        <div class="movie">
          <img src="file://$m.poster" />
          <a href='$m.url'>$m.title</a>
        </div>
      #end for
    </div>
    #else
      <p>There are no movies in your library. Make sure you go into <b>Collection -> Select movies folders</b> to tell Smewt where to look for them.</p>
    #end if

  </div>
</div>

</body>
</html>
