#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict

series = defaultdict(lambda: defaultdict(lambda: []))

for (serie, season, episode), md in eps.items():
    series[serie][season].append(md)

for serie, seasons in series.items():
    for season, eps in seasons.items():
        series[serie][season] = sorted(eps, key = lambda x: x['episodeNumber'])
%>

<html>
<head>
  <title>cheetah test</title>
</head>

<body>
#for serieName, seasons in series.items()
  <h1>$serieName</h1>
  #for seasonNumber, eps in seasons.items():
    <h2>Season $seasonNumber</h2>
    #for $ep in $eps
      #if 'filename' in ep.properties:
        #try
          <div class="episode"><a href="file://$ep.filename">$ep.episodeNumber - $ep.title</div>
        #except
          <div class="episode"> ? - $ep.title</div>
        #end try
      #else
        <div class="episode"><em>$ep.episodeNumber - $ep.title</em></div>
      #end if
    #end for
  #end for
#end for

</body>
</html>
