#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict
from smewt.media.series import Episode

series = defaultdict(lambda: defaultdict(lambda: []))
poster = None

for (media, md) in eps.links:
    try:
        poster = md['loresImage']
    except:
        pass

    md = Episode(md)
    md['filename'] = media.filename
    series[md['serie']][md['season']].append(md)

for serie, seasons in series.items():
    for season, eps in seasons.items():
        series[serie][season] = sorted(eps, key = lambda x: x['episodeNumber'])

import os, os.path
# FIXME: this is not the correct way to do it...
import_dir = os.path.join(os.getcwd(), 'smewt', 'media', 'series')
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>cheetah test</title>
<script type="text/javascript" src="file://$(import_dir)/jquery-1.2.2.pack.js"></script>
<script type="text/javascript" src="file://$(import_dir)/animatedcollapse.js">

/***********************************************
* Animated Collapsible DIV v2.0- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>


<script type="text/javascript">

#for serie, seasons in series.items():
  #for seasonNumber, eps in seasons.items():
    animatedcollapse.addDiv('s$(seasonNumber)', 'fade=0,speed=400,group=seasons,hide=1')
  #end for
#end for

animatedcollapse.init()

</script>

</head>

<body>
#for serieName, seasons in series.items()
  #if poster:
    <img src="file://$poster" />
  #end if
  <h1>$serieName</h1>
  #for seasonNumber, eps in seasons.items():
    <h2><a href="javascript:animatedcollapse.toggle('s$seasonNumber')">Season $seasonNumber</a></h2>
    <div id="s$seasonNumber">
    #for $ep in $eps
      #if 'filename' in ep.properties:
        #try
          #if $ep.title:
            <div class="episode"><a href="file://$ep.filename">$ep.episodeNumber - $ep.title</a>
          #else
            <div class="episode"><a href="file://$ep.filename">$ep.episodeNumber - Untitled <i>($ep.filename)</i></a>
          #end if
        #except
          <div class="episode"> ? - $ep.title
        #end try

        #if $ep.synopsis:
          <p>$ep.synopsis</p>
        #end if
        </div>
      #else
        <div class="episode"><em>$ep.episodeNumber - $ep.title</em></div>
      #end if
    #end for
    </div>
  #end for
#end for

</body>
</html>
