#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict
from smewt import SmewtUrl

series = defaultdict(lambda: defaultdict(lambda: []))

series = set()
for (serie, season, episode), md in eps.items():
    series.add(serie)

series = sorted([ (title, SmewtUrl('media', 'series/single', { 'title': title })) for title in series ])
%>

<html>
<head>
  <title>All series view</title>
</head>

<body>

ALL SERIES

#for title, url in series
  <h1><a href='$url'>$title</a></h1>
#end for

</body>
</html>
