#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict
from smewt import SmewtUrl, Media
from smewt.media import Episode, Series

seasons = defaultdict(lambda: [])

series = eps.findAll(Series)[0]
seriesName = series['title']
poster = series['loresImage']
englishSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': seriesName, 'language': 'en' })
frenchSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': seriesName, 'language': 'fr' })

# First prepare the episodes
episodes = {}

for media in eps.findAll(Media):
    md = episodes.setdefault(media.metadata.uniqueKey(), media.metadata.toDict())
    if media.type() == 'video':
        md['filename'] = media.filename
        md['url'] = SmewtUrl('action', 'play', { 'filename': media.filename })
    elif media.type() == 'subtitle':
        md.setdefault('subtitles', []).append(media.filename)
        md['numSubtitles'] = len(md['subtitles'])

for md in episodes.values():
    seasons[md['season']].append(md)

for season, eps in seasons.items():
    seasons[season] = sorted(eps, key = lambda x: x['episodeNumber'])

import os, os.path
# FIXME: this is not the correct way to do it...
import_dir = os.path.join(os.getcwd(), 'smewt', 'media', 'series')
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>single serie display</title>
<script type="text/javascript" src="file://$(import_dir)/jquery-1.2.2.pack.js"></script>
<script type="text/javascript" src="file://$(import_dir)/animatedcollapse.js">

/***********************************************
* Animated Collapsible DIV v2.0- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>


<script type="text/javascript">

#for seasonNumber, eps in seasons.items():
  animatedcollapse.addDiv('s$(seasonNumber)', 'fade=0,speed=400,group=seasons,hide=1')
#end for

animatedcollapse.init()

</script>

</head>

<body>
#if poster:
  <img src="file://$poster" />
#end if

<a href="$englishSubsLink">Get missing English subtitles</a>
-
<a href="$frenchSubsLink">Get missing French subtitles</a>

<h1>$seriesName</h1>
#for seasonNumber, eps in seasons.items():
  <h2><a href="javascript:animatedcollapse.toggle('s$seasonNumber')">Season $seasonNumber</a></h2>
  <div id="s$seasonNumber">
  #for ep in eps
    #if 'filename' in ep:
      #try
        #if $ep.title:
          #if 'numSubtitles' in ep:
              <div class="episode"><a href="$ep.url">$ep.episodeNumber - $ep.title ($ep.numSubtitles subtitles) </a>
          #else
              <div class="episode"><a href="$ep.url">$ep.episodeNumber - $ep.title </a>
          #end if
        #else
          <div class="episode"><a href="$ep.url">$ep.episodeNumber - Untitled <i>($ep.filename)</i></a>
        #end if
      #except
        <div class="episode"> ? - $ep.title
      #end try

      #if 'synopsis' in ep:
        <p>$ep.synopsis</p>
      #end if
      </div>
    #else
      <div class="episode"><em>$ep.episodeNumber - $ep.title</em></div>
    #end if
  #end for
  </div>
#end for

</body>
</html>
