#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict

series = defaultdict(lambda: defaultdict(lambda: []))

for (serie, season, episode), md in eps.items():
    # escape the '/' in the serie name
    serie = serie.replace('/', '//')
    series[serie][season].append(md)

for serie, seasons in series.items():
    for season, eps in seasons.items():
        series[serie][season] = sorted(eps, key = lambda x: x['episodeNumber'])

%>

<html>
<head>
  <title>All series view</title>
</head>

<body>

ALL SERIES

#for serieName in sorted(series.keys())
  <h1><a href='smewt://Series/single/$serieName'>$serieName</a></h1>
#end for

</body>
</html>
