#set eps = $episodes

<%
from itertools import groupby
from collections import defaultdict
from smewt import SmewtUrl, Media
from smewt.media import Episode, Series

seasons = defaultdict(lambda: [])

series = eps.findAll(Series)[0]
seriesName = series['title']
poster = series['loresImage']
englishSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': seriesName, 'language': 'en' })
frenchSubsLink = SmewtUrl('action', 'getsubtitles', { 'title': seriesName, 'language': 'fr' })

# First prepare the episodes
episodes = []

for media in eps.findAll(Media):
    md = defaultdict(lambda:None)
    md.update(media.metadata.toDict())

    if media.type() == 'video':
        episodes += [ md ]
        md['filename'] = media.filename
        md['url'] = SmewtUrl('action', 'play', { 'filename': media.filename })
    elif media.type() == 'subtitle':
        md.setdefault('subtitles', []).append(media.filename)
        md['numSubtitles'] = len(md['subtitles'])

for md in episodes:
    seasons[md['season']].append(md)

for season, eps in seasons.items():
    seasons[season] = sorted(eps, key = lambda x: x['episodeNumber'])

import os, os.path
# FIXME: this is not the correct way to do it...
import_dir = os.path.join(os.getcwd(), 'smewt', 'media', 'series')
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>single serie display</title>
<script type="text/javascript" src="file://$(import_dir)/tabber.js"></script>
<script type="text/javascript" src="file://$(import_dir)/styler.js"></script>
<link rel="stylesheet" href="file://$(import_dir)/series.css" type="text/css">
</head>

<body>

<img src="file://$poster" />

<div class="rightshifted">
  <h1>$seriesName</h1>

  <a href="$englishSubsLink">Get missing English subtitles</a>
  <a href="$frenchSubsLink">Get missing French subtitles</a>
  <a href="javascript:toggleByName('synopsis')">Toggle synopsis</a>
</div>

<div class="tabber">
#for seasonNumber, eps in seasons.items():
  <div class="tabbertab">
  <h2>Season $seasonNumber</h2>
  <p>
  #for ep in [ ep for ep in eps if 'title' in ep ]
    #if 'filename' in ep:
      #try
        #if 'numSubtitles' in ep:
            <div class="episode"><a href="$ep.url">$ep.episodeNumber - $ep.title </a> ($ep.numSubtitles subtitles)
        #else
            <div class="episode"><a href="$ep.url">$ep.episodeNumber - $ep.title </a>
        #end if
      #except
        <div class="episode"> ? - $ep.title
      #end try

      #if 'synopsis' in ep:
        <div name="synopsis" style="display:none"><p>$ep.synopsis</p></div>
      #end if
      </div>
    #else
      <div class="episode"><em>$ep.episodeNumber - $ep.title</em></div>
    #end if
  #end for

<%
import os.path
extras = [ ep for ep in eps if 'title' not in ep ]
for ep in extras:
    ep['title'] = os.path.basename(ep['filename'])
%>

  #if extras
    <div class="extras">Extras / Untitled / Metadata unknown</div>
  #end if
  #for ep in extras
    <div class="episode"><a href="$ep.url"><i>$ep.title</i></a></div>
  #end for
  </p></div>
#end for

</body>
</html>
